# Ignore node_modules em todas as subpastas
**/node_modules

# Build do backend e frontend
backend/dist/
frontend/build/
frontend/public/

# Arquivos de ambiente
**/.env

# Logs
**/logs
**/*.log

# Configuração de IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Outros arquivos indesejados
npm-debug.log*
yarn-debug.log*
yarn-error.log*
